@font-face {
  font-family: Alegreya;
  src: url(../fonts/Alegreya/Alegreya-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Alegreya;
  src: url(../fonts/Alegreya/Alegreya-Regular.woff);
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Josefin-Sans;
  src: url(../fonts/Josefin-Sans/JosefinSans-SemiBold.woff);
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: Josefin-Sans;
  src: url(../fonts/Josefin-Sans/JosefinSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Abril-Fatface;
  src: url(../fonts/Abril/Abrilfatfaceregular.woff);
  font-weight: regular;
  font-style: normal;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main {
  font-family: Josefin-Sans;
  padding-top: 100px;
}
.main__subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  padding-top: 70px;
}
.main__subtitle .subTitle {
  color: #FF2625;
  font-weight: 600;
  font-size: 26px;
}
.main__subtitle .main__icon {
  width: 30px;
  height: 30px;
}

.main__descriptions .main__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
  color: #3A1212;
  margin-bottom: 25px;
}
.main__descriptions .main__text {
  font-family: Alegreya;
  color: #837171;
  font-size: 22px;
  line-height: 35px;
}

.main__buttons {
  font-family: Alegreya;
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.main__buttons .btn {
  padding: 10px 57px;
  background: #FF2625;
  border-radius: 29px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  transition: 0.8s ease-in-out;
}
.main__buttons .btn:hover {
  background: transparent;
  border: solid 1px #FF2625;
  color: #3A1212;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.3647058824);
}
.main__buttons .button {
  background: transparent;
  border: solid 1px #FF2625;
  color: #3A1212;
  font-weight: 400;
}
.main__buttons .button:hover {
  background: #FF2625;
  color: #fff;
}

.last-main__title {
  padding-top: 120px;
  color: rgba(163, 161, 161, 0.2274509804);
  font-size: 200px;
}

@media (max-width: 800px) {
  .last-main__title {
    font-size: 120px;
  }
  .main {
    padding: 20px;
    padding-top: 295px;
  }
  .subTitle {
    text-align: center;
    font-size: 26px;
  }
  .logo {
    display: none;
  }
}
@media (max-width: 480px) {
  .main__subtitle {
    text-align: center;
  }
  .main__subtitle .subTitle {
    font-size: 20px;
  }
  .main {
    padding: 20px;
    padding-top: 295px;
  }
  .main__descriptions {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main__descriptions .main__title {
    font-size: 30px;
    line-height: 45px;
  }
  .main__descriptions .main__text {
    font-size: 20px;
    line-height: 25px;
  }
  .last-main__title {
    font-size: 60px;
    padding-top: 5;
    text-align: center;
  }
  .main__buttons {
    display: flex;
    flex-direction: column;
  }
  .main__buttons .btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section {
  padding-top: 90px;
}

.section__subtitle {
  color: #FF2625;
  font-family: Josefin-Sans;
  text-align: center;
  font-size: 26px;
}

.section__title {
  text-align: center;
  padding-top: 30px;
  font-family: Josefin-Sans;
  color: #3A1212;
  font-size: 44px;
  line-height: 58px;
}

.section__cards {
  padding-top: 60px;
}

.cards {
  font-family: Alegreya;
  display: flex;
  gap: 30px;
  align-items: center;
}
.cards .card {
  width: 150px;
  padding: 60px;
  background: #fff;
  border: 0.5px solid #E1E1E1;
  border-radius: 5px 5px 5px 35px;
  transition: 0.8s all;
}
.cards .card:hover {
  cursor: pointer;
  box-shadow: 17px 14px 15px rgba(0, 0, 0, 0.2941176471);
}
.cards .card:hover .show__button {
  max-height: 200px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__content .card-main__title {
  font-weight: 700;
  color: #3A1212;
  font-size: 24px;
}

.card-main__title {
  padding-top: 50px;
}

.show__button {
  max-height: 0;
  display: block;
  overflow: hidden;
  transition: 0.6s all;
  margin-top: 40px;
  color: #FF2625;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-family: Alegreya;
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 1180px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
}
@media (max-width: 800px) {
  .section__title {
    font-size: 30px;
    line-height: 35px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.article-image {
  position: relative;
}
.article-image .article-image__dots {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  padding: 35px;
  font-family: Alegreya;
  position: relative;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
}
.header__container .nav {
  display: flex;
  gap: 50px;
  margin-left: 120px;
  color: #837171;
  font-size: 24px;
}
.header__container .nav .nav__link {
  position: relative;
}
.header__container .nav .nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #FF2625;
  width: 0;
  height: 2px;
  transition: 0.6s all;
}
.header__container .nav .nav__link:hover::before {
  width: 100%;
}
.header__container .nav .nav__link:first-child {
  color: #000;
}

.banner {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: -2;
}
.banner .banner__img {
  width: 100%;
}

.hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

@media (max-width: 560px) {
  .hamburger {
    display: block;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #FFDE80;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.8s all;
  }
  .nav.is-active {
    transform: translateX(0);
  }
  .nav.is-active .nav__link {
    color: #3A1212;
    font-weight: bold;
  }
  .nav {
    width: 100vw;
  }
}
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: non;
}

body {
  background: #e2e0e0;
}

/*# sourceMappingURL=style.css.map */
