doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/hamburgers.css")
    link(rel="stylesheet", href="assets/css/style.css")
    title Fitness Club
  body 
    include ./include/_header.pug
    include ./include/_main.pug
    include ./include/_section.pug
    include ./include/_article.pug
    include ./include/_instructors.pug
    include ./include/_search.pug
    include ./include/_footer.pug







    <script src="assets/js/script.js"></script>