article.article__card.container 
  .article-card__content 
    .article__image 
      img.article-image(src="assets/img/article-image.png", alt="") 
    .article__description 
      h3.article__subtitle Health Benefits
      h2.article__title 
        | Physical Exercise Gives <br> Your Body The Wings
      p.article__text 
        | Physical activity and exercise can have immediate and long-term health benefits. Most importantly, regular activity can improve your quality of life.Exercise can improve your health and reduce the risk of 
      a.article__btn(href="#") Learn More
      .post-image 
        img.dots-image(src="assets/img/Dots.png", alt="")

  .article-card__session 
    .article__description 
      h3.article__subtitle Health Benefits
      h2.article__title 
        | Physical Exercise Gives <br> Your Body The Wings
      p.article__text 
        | Physical activity and exercise can have immediate and long-term health benefits. Most importantly, regular activity can improve your quality of life.Exercise can improve your health and reduce the risk of 
      a.article__btn(href="#") Learn More
    .article__image 
      img.article-image(src="assets/img/article-image2.png", alt="")