article.article__card.container 
  .article-card__content 
    .article__image 
      img.article-image__dots(src="/assets/img/Dots.png", alt="")
      img.article-image(src="/assets/img/article-image.png", alt="")