footer.footer.container.animate__animated.animate__zoomInDown
  .footer__content 
    .footer-info 
      .footer-logo 
        img.footer__logo(src="assets/img/footer-logo.png", alt="")
      .footer__desc 
        p.footer__text 
          | A Modified Fitness Club that <br> provide fitness & nutrition related <br> services to improve your health
        .footer-icon 
          a(href="#") 
            i.fa-brands.fa-facebook
          a(href="#") 
            i.fa-brands.fa-twitter
          a(href="#") 
            i.fa-brands.fa-google
          a(href="#") 
            i.fa-brands.fa-linkedin
    .footer-nav__blog 
      .footer-logo 
        a.footer-nav__logo(href="#") Resources
      .footer-navs
        a.footer__link(href="#") Features
        a.footer__link(href="#") Pricing
        a.footer__link(href="#") Activity
        a.footer__link(href="#") Instructors
    .footer-nav__blog 
      .footer-logo 
        a.footer-nav__logo(href="#") About
      .footer-navs
        a.footer__link(href="#") Blog
        a.footer__link(href="#") FAQs
        a.footer__link(href="#") Policy
        a.footer__link(href="#") Contact
    .footer-nav__blog 
      .footer-logo 
        a.footer-nav__logo(href="#") Helpful Links
      .footer-navs
        a.footer__link(href="#") Articles
        a.footer__link(href="#") Nutritions
        a.footer__link(href="#") Meditation
        a.footer__link(href="#") Services

    

  .footer-sub__info 
    p.footer-subinfo__text Created with  by Sajib Das Supriyo for Twinkle Creative. All rights reserved
    .footer-btn__home
      a(href="#top" id="down") 
        i.fa-solid.fa-house

