header.header
  .header__container.container 
    a.logo(href="#") 
      img(src="assets/img/logo.png", alt="")
    nav.nav 
      a.nav__link(href="#") Home
      a.nav__link(href="#") Training
      a.nav__link(href="#") Contact
    button.hamburger.hamburger--slider(type='button')
      span.hamburger-box
        span.hamburger-inner

  .banner
    img.banner__img(src="assets/img/main.png", alt="")