.incstructors.container.animate__animated.animate__fadeInRightBig
  .instructors__titles 
    h3.subtitle__inst Our Instructors
    h2.title__inst 
      | Meet Our Extreamly <br> Talented Trainers
  .session-inst 
    .instructors__content 
      .session__inst 
        img.inst__image(src="assets/img/couch1.png", alt="")
        .session-inst__desc 
          h3.couch__name Jason Holder
          p.couch__info Cardio Expert
    .instructors__content2  
      .session__inst 
        img.inst__image(src="assets/img/couch2.png", alt="")
        .session-inst__desc 
          h3.couch__name Monica Sellesa
          p.couch__info Nutrition Expert
    .instructors__content 
      .session__inst 
        img.inst__image(src="assets/img/couch3.png", alt="")
        .session-inst__desc 
          h3.couch__name Jhonson Russoe
          p.couch__info Meditation Expert