main.main.container
  .main__subtitle 
    h3.subTitle __Fitness Club
    img.main__icon(src="/assets/img/fit-icon.png", alt="")
  .main__descriptions 
    h2.main__title 
      | Sweat, Smile <br> And Repeat
    p.main__text 
      | A gym is a club, building, or large room, usually <br> containing special equipment, where people go to
  .main__buttons 
    a.btn(href="#") Join Now
    a.btn.button(href="#") Know More
  h1.last-main__title Exercise
  