aside.aside.container.animate__animated.animate__fadeInLeftBig
  .aside__content 
    .aside-image__block 
      img.image__aside(src="assets/img/aside-image.png", alt="")
    .aside__description 
      span.aside__span Testimonial
      h2.aside__title 
        | That's What Our <br> Super Client Says
      .separate-block 
        p.separate__text 
          | “Gale is an amazing trainer as well as a great <br> person. She is so flexible when it comes to my <br> crazy work schedule and makes sure to always fit  me in. Every day she pushes me harder towards  my goals.”
        h4.name Jessica Parker
        p.info-couch Mariland,USA
  .aside-input__search 
    .searh-input__desc 
      h2.title__search Subscribe Our Fitness Articles
      p.text__search 
        | Physical activity is defined as any bodily movement produced by <br> skeletal muscles that results in energy expenditure
    label.label-search(for="search") 
      input(type="text" id="search" placeholder="Type Your Email Address")
      a.input-btn(href="#") Subcribe