section.section.container
  .section__titles
    h3.section__subtitle Our Services
    h2.section__title 
      | Awesome Packages That We <br> Offer For Our Clients
  .section__cards 
    .cards 
      .card 
        .card__content 
          img(src="assets/img/sitting-man.png", alt="")
          .card__title 
            h3.card-main__title 
              | Meditation <br> Programme
        a.show__button(href="#") Learn More
        
      .card 
        .card__content 
          img(src="assets/img/training-man.png", alt="")
          .card__title 
            h3.card-main__title 
              | Muscle <br> Building
        a.show__button(href="#") Learn More
        
      .card 
        .card__content 
          img(src="assets/img/training-girl.png", alt="")
          .card__title 
            h3.card-main__title 
              | Cardio <br> Programme
        a.show__button(href="#") Learn More
      .card 
        .card__content 
          img(src="assets/img/apple.png", alt="")
          .card__title 
            h3.card-main__title 
              | Nutrition <br> Supports
        a.show__button(href="#") Learn More

